/*
// General Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #8e84c9;
    --main-bg-color: #f8f8f8;
    --nav-link-color: #222;
    --nav-bg-color: rgba(255, 255, 255, .95);
    --dark-text-color: #000;
    --light-text-color: #fff;
    --btn-hover-color: #6d5bb3;
    --bright-bg-color: white;
    --card-shadow-color: rgba(0, 0, 0, 0.3);
    --card-hover-color: rgb(142, 132, 201);
    --border-color: #ddd;
    --footer-border-color: #f0f0f0;
    --check-color: #4caf50;
}

body {
    font-family: "Poppins", sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    max-width: 100%;
    margin: 0 auto;
}

/* Nav Styling */
.logo {
    font-size: 1.5em;
    color: var(--brand-color);
    font-weight: bold;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.09rem;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover, footer a:hover {
    color: var(--brand-color);
    transform: translateY(-4px);
}

.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background-color: var(--nav-bg-color);
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.site-nav .links {
    display: flex;
    flex-direction: row;
    list-style: none;
}
/* End Nav Styling */

/* Banner Styling */
.banner {
    background-image: url("../assets/img/banner.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    transition: all .6s ease;
    padding: 100px 20px;
    height: 420px;
}

.banner h1 {
    font-size: 2.5em;
    color: var(--brand-color);
}

.banner h1, .banner h2 {
    margin-bottom: 32px;
}

.banner p {
    font-size: 1.1em;
    color: var(--dark-text-color);
    font-weight: 500;
}
/* End Banner Styling */

/* Button Styling */
.btn-rounded {
    background-color: var(--brand-color);
    color: var(--light-text-color);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-visit {
    max-width: 120px;
    text-align: center;
    margin: 32px auto;
}

.btn-rounded:hover {
    background-color: var(--btn-hover-color);
    transform: translateY(-3px);
    color: var(--light-text-color);
}
/* End Button Styling */

/* Section Styling */
.intro-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 25px auto;
    padding: 22px;
    height: 150px;
}

.more-section {
    margin-top: 65px;
    padding: 35px;
}

.portfolio-section {
    margin: 25px auto;
    padding: 16px;
}

.services-section {
    display: grid;
    width: 89.45%;
    margin: 25px auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.pricing-section {
    display: flex;
    gap: 20px;
    padding: 0 50px;
    margin: 25px auto;
}

.contact-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 85%;
    margin: 25px auto;
    height: auto;
}

.about-section {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 0 40px;
    margin: 25px auto;
}

.mobile-section {
    display: flex;
    flex-direction: row;
}

/* End Section Styling */

/* Card Styling */
.intro-card {
    text-align: center;
    border-radius: 5%;
    padding: 20px;
    background: var(--bright-bg-color);
    box-shadow: 2px 6px 10px var(--card-shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 200px;
}

.intro-card h3 {
    font-size: 1.59em;
    color: var(--brand-color);
    margin-bottom: 15px;
}

.intro-card p {
    color: var(--dark-text-color);
    font-size: 1.28em;
    text-align: center;
}

.intro-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px var(--card-hover-color);
}

.icon {
    font-size: 32px;
    margin-bottom: 10px;
    color: #444;
}

.more-header {
    font-size: 1.8rem;
    color: var(--dark-text-color);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
}

.more-body {
    padding: 10px 0px;
}

.more-title {
    font-size: 1.49rem;
    color: var(--brand-color);
    margin: 10px 0;
}

.more-text {
    font-size: 1.4rem;
}

.more-icon {
    height: 100%;
}

.more-icon svg {
    color: var(--brand-color);
    display: block;
    margin: 0 auto;
    padding: 28px 0;
    height: 156px;
}

.service-card {
    background-color: var(--bright-bg-color);
    padding: 30px;
    padding: 15%;
    border-radius: 8px;
    box-shadow: 2px 6px 10px var(--card-shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card ul {
    list-style: none;
    color: var(--btn-hover-color);
    font-size: 1.3em;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px var(--card-hover-color);
}

.service-icon {
    font-size: 45px;
    margin-bottom: 10px;
    color: #444;
}

.service-card h3 {
    font-size: 1.5em;
    color:var(--brand-color);
    margin-bottom: 10px;
}

.service-card p  {
    font-size: 1.25em;
    color: var(--dark-text-color);
    text-align: center;
}

.portfolio-card-wide {
    display: flex;
    flex-direction: row;
    height: 285px;
    margin-bottom: 72px;
}

.portfolio-card-img {
    flex: 1 1 40%;
    margin-right: 8px;
}

.portfolio-card-img img {
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio-card-img img:hover {
 transform: translateY(-10px);
 box-shadow: 0 4px 15px var(--card-hover-color);
}

.portfolio-card-content {
    flex: 1 1 60%;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.portfolio-card-content h2 {
    margin-bottom: 8px;
    color: var(--brand-color);
}

.portfolio-card-content p {
    font-size: 1.29em;
    text-align: left;
}

.portfolio-card-narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 32px;
    flex: 1;
}

.portfolio-card-narrow h2 {
    margin-top: 16px;
    color: var(--brand-color);
}

.portfolio-card-narrow p {
    font-size: 1.1em;
    text-align: center;
    margin-top: 8px;
    padding: 0 16px;
}

.portfolio-card-narrow img {
    width: 100%;
    max-width: 280px;
    max-height: 480px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease ;
}

.portfolio-card-narrow img:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px var(--brand-color);
}

.pricing-card {
    background-color: var(--bright-bg-color);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    justify-content:baseline;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 6px 10px var(--card-hover-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease ;
}

.pricing-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px var(--card-hover-color);
}
.pricing-card h2{
    color: var(--brand-color);
}

h2 {
    font-size: 1.5rem;
    color: var(--dark-text-color);
    text-align: center;
}

.description {
    color: var(--dark-text-color);
    font-size: 1.09rem;
    text-align: center;
    margin: 10px 0 20px;
}

.cta-button {
    background-color: var(--brand-color);
    color: var(--light-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.cta-button:hover {
    background-color: var(--btn-hover-color);
}

.price {
    font-size: 2.5rem;
    color: var(--dark-text-color);
    text-align: center;
    margin: 10px 0;
}

.price span {
    font-size: 1rem;
    color: var(--dark-text-color);
}

.note {
    color: var(--dark-text-color);
    font-size: 0.8rem;
    text-align: center;
    margin-top: 5px;
}

.features {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    width: 100%;
}

.features li {
    display: flex;
    align-items: center;
    font-size: 1.19rem;
    margin-bottom: 8px;
    color: var(--dark-text-color);
}

.features li::before {
    content: '✔';
    color: var(--check-color);
    margin-right: 10px;
}

.contact-card {
    background-color: var(--bright-bg-color);
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px var(--card-shadow-color);
    padding: 20px;
}

.contact-icon {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px  var(--card-hover-color);
}

.contact-card-header {
    font-size: 2.02em;
    color: var(--brand-color);
}

.contact-card-title {
    font-size: 1.48rem;
    color: var(--dark-text-color);
    margin-bottom: 10px;
}

.contact-card-text {
    color: var(--dark-text-color);
    font-size: 1.09em;
}

.contact-card ul {
    list-style: none;
}

.about-card {
    background-color: var(--bright-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--card-shadow-color);
    transition: transform 0.3s ease;
}

.about-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px var(--card-hover-color);
}

.about-content p {
    font-size: 1.2em;
    color: var(--dark-text-color);
    text-align: justify;
    margin-bottom: 10px;
}

.about-content ul{
    list-style: none;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    color: var(--btn-hover-color);
}

.about-content span {
    display: block;
    text-align: center;
}

.about-heading
{
    font-size: 1.7em;
    color: var(--brand-color);
    padding: 10px;
    font-weight: bold;
}

/* End Card Styling */

/* Column Styling */
.more-column {
    margin: 100px auto;
    display: flex;
    gap: 20px;
    height: 285px;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px;
}

.more-column .more-icon {
    flex: 2;
}

.more-column .more-card {
    flex: 4;
}

/* End Column Styling */

/* Footer Styling */
footer {
    border-top: 1px solid var(--footer-border-color);
    margin-top: 6em;
}

.active a, .footer-content span, .footer-links .active {
    color: var(--brand-color);
}

.footer-content h4 {
    margin: 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
}

.footer-links li {
    margin-right: 1.2em;
    list-style: none;
}


.footer-links a {
    color: var(--nav-link-color);
    text-decoration: none;
    margin-right: 15px;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer span {
    color: var(--brand-color);
}

.copyright {
    text-align: center;
}
/* End Footer Styling */

/* Util Styling */

.reverse {
    flex-direction: row-reverse;
}

/* End Util Styling */

/* Toggle Styling */
.toggle-nav, .close-button {
    display: none;
    padding: 16px;
    background-color: var(--bright-bg-color);
    color: var(--brand-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-overlay {
    display: none;
}
/* End Styling */

@media screen and (max-width: 768px) {
    /* Toggle Styling For Small Screen */
    .toggle-overlay.toggled {
        display: block;
        z-index: 50;
        background: var(--bright-bg-color);
        color: var(--dark-text-color);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .toggle-overlay li {
        text-align: center;
        margin-bottom: 2em;
        font-size: 16px;
    }

    .toggle-overlay a {
        text-decoration: none;
        color: var(--dark-text-color);
    }

    .toggle-overlay a:hover {
        color: var(--brand-color);
    }

    .toggle-overlay .active a {
        text-decoration: none;
        color: var(--brand-color);
        font-weight: bold;
    }

    .site-nav .links {
        display: none;
    }

    .toggle-nav,
    .close-button {
        display: inline-block;
    }

    /* End Toggle Styling For Small Screen */
}
